<span hidden>{{ scoring.version() }}</span>
@if (scoring.event) {
  <app-event-dashboard
    [event]="scoring.event"
    [isAdmin]="scoring.isAdmin"
    [poolCards]="scoring.poolCards"
    [visibleDivisionPoolGroups]="scoring.visibleDivisionPoolGroups"
    [favoritePoolIds]="scoring.favoritePoolIdList"
    [showingFavoritePools]="scoring.showingFavoritePools"
    [favoritePoolCount]="scoring.favoritePoolCount"
    (addPool)="scoring.startAddPool()"
    (allPoolsSelected)="scoring.openDashboard()"
    (favoritesSelected)="scoring.openFavoritePools()"
    (poolFavoriteToggled)="scoring.togglePoolFavorite($event)"
    (poolSelected)="scoring.openPool($event)"
    (timerSelected)="scoring.openPoolTimer($event)"
    (poolDeleted)="scoring.deletePoolById($event)"
    (divisionPublished)="scoring.publishDivision($event)"
  ></app-event-dashboard>
}
