<span hidden>{{ scoring.version() }}</span>
@if (scoring.isAdmin && scoring.activePool; as pool) {
  <app-pool-setup
    [pool]="pool"
    [isAdmin]="scoring.isAdmin"
    [teamCountOptions]="scoring.teamCountOptions"
    [categoryOptions]="scoring.categoryOptions"
    [divisionOptions]="scoring.divisionOptions"
    [schedulePresets]="scoring.schedulePresets"
    [seededImportEnabled]="!scoring.canDeleteActivePool"
    [existingDivisionPoolCount]="scoring.poolCountForDivision(pool.category, pool.division)"
    [scanStatus]="scoring.scanStatus"
    [scanProgress]="scoring.scanProgress"
    [scanSummary]="scoring.scanSummary"
    [scanError]="scoring.scanError"
    [canDeletePool]="scoring.canDeleteActivePool"
    (sheetCaptured)="scoring.captureSheet($event)"
    (sheetScanned)="scoring.scanPoolSheet()"
    (saved)="scoring.save()"
    (teamCountChanged)="scoring.changeTeamCount($event)"
    (gameFormatApplied)="scoring.applyGameFormat()"
    (poolSetupSaved)="scoring.savePoolSetup()"
    (seededPoolsCreated)="scoring.createSeededPools($event)"
    (poolDeleted)="scoring.deletePoolSetup()"
    (setupCanceled)="scoring.cancelSetup()"
    (matchAdded)="scoring.addMatch()"
    (matchMoved)="scoring.moveMatch($event.matchId, $event.direction)"
    (matchRemoved)="scoring.removeMatch($event)"
    (schedulePresetApplied)="scoring.applySchedulePreset($event)"
  ></app-pool-setup>
}
